.footer{ /* 메인 풋터 css */
    background-color: white;
    color: gray;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 0 1.6rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    position : absolute;
    bottom : 0;
}
.divfooter1{ 
	display: flex;
    flex-direction: column;
}
.divfooter2{ 
    max-width: 900px; /* 간격 조정 */
    margin: 0 auto;
}

.sectionfooter1
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.4rem 50px;
}
.sectionfooter2
{
    line-height: 1.5;
    font-size: 1.3008rem; /* 글씨 크기 */
    margin-bottom: 1.6rem;
    color: black;
}
.divfooter3
{
    display: flex;
    align-items: center;
}
.spanfooter
{
    margin: 0 0.4rem;
}
.addressfooter{
    font-style: normal;
}
svg{
    width: 2;
    height: 10;
    fill: none;
}
.sectionfooter3{
    margin-top: 0;
    display: flex;
    align-items: center;
}
.afooter {
	margin-right: 1.6rem;
    text-decoration: none;
    outline: 0;
}
.afooter1 {
    padding-top: 0.4rem;
}
rect{
    opacity: 0.5;
    x: 0.535767;
    width: 1.03646;
    height: 10;
    fill: rgb(134, 139, 148);
}
path{
    d: path("M 22.7158 12.0458 C 22.7158 6.21012 18.0165 1.48242 12.2158 1.48242 C 6.41515 1.48242 1.71582 6.21012 1.71582 12.0458 C 1.71582 17.3181 5.55649 21.689 10.5732 22.4824 V 15.0974 H 7.90382 V 12.0458 H 10.5732 V 9.71716 C 10.5732 7.06928 12.1412 5.60918 14.5398 5.60918 C 15.6878 5.60918 16.8918 5.81575 16.8918 5.81575 V 8.412 H 15.5665 C 14.2645 8.412 13.8538 9.22421 13.8538 10.0599 V 12.0411 H 16.7658 L 16.2992 15.0927 H 13.8538 V 22.473 C 18.8752 21.6843 22.7158 17.3181 22.7158 12.0458 Z");
    fill: rgb(134, 139, 148);
}
linkimg {
    display: block;
    width: 33px;
    height: 33px;
    background: white;
    border-radius: 50px;
    text-align: center;
    line-height: 33px;
    transition: 0.3s;
    border: 2px solid #444444;
    margin-right: 10px;
}
.sectionfooter3 li {
    float: left;
    width: 39px;
    height: 40px;
    padding-top: 2px;
    list-style: none
}