.text1{
    border: 2px solid rgb(247, 47, 51); /* 검색창 외형 색깔 */
    width: 460px; /* 검색창 가로 길이 */
    height: 40px; /* 검색창 세로 길이 */
    box-sizing: border-box;
    position: relative;
}

.text2 {
    color: rgb(255 10 10);
    -webkit-box-flex: 1;
    flex-grow: 1;
}