.headusermenu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    justify-content : center;
    padding-left: 500px;
    padding-bottom: 20px;
	border-bottom: 1px solid rgb(238, 238, 238);
	background: white;
}