.wrapper {
    position: relative;
    width: 780px;
    padding: 0 0 80px 200px;
    margin: 80px auto 0;
    overflow: hidden;
}
.nav h1 {
    height: 118px;
}
.nav h1 a {
    display: block;
    height: 93px;
    padding-top: 25px;
    font-size: 30px;
    color: #333;
    font-weight: 400;
}
.nav ul {
    padding: 23px 0;
    border-top: 1px solid #e5e5e5;
    list-style:none;
    list-style-type:none;
}
.nav li {
    height: 29px;
}
.nav li.active a, .nav li a:hover {
    color: #5468e7;
    background-position: right -43px;
}
.nav .btWrite {
    display: block;
    height: 50px;
    padding: 27px 0 0 27px;
    font-size: 18px;
    color: #333;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: url(../img/messageimg.png) no-repeat 0 -69px;
}