.mainblank{ /* 메인사이트 바디부분 여백 css */
    width: 1024px;
    margin: auto;
    padding: 3.5rem 0px 1.5rem;
}
.mainblank h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.showlist {
    position: relative;
    overflow: hidden;
}
.separationlist {
    display: flex;
    flex-wrap: wrap;
}
.marginlist {
    width: 196px;
    margin-right: 11px;
    margin-bottom: 11px;
}
.imgarea {
    position: relative;
    width: 100%;
    height: 194px;
}